# cache / dll 
src/__pycache__/*
__pycache__/*
*.py[cod]
*$py.class
*.pyc

# C extensions
*.so

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Flask stuff:
instance/
.webassets-cache

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

#fichier de log 
*.log