{% extends "base.html" %}
{% block content %}
<div class="card">
    <div class="card-body">
      <div class="row gx-0 align-items-center">
        <div class="col-md-4">
          <img src="{{personnage.protrait256px}}" alt="" class="card-img rounded-0" />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{personnage.name}}</h5>
            <div class="list-group list-group-flush">
             

              <div class="list-group-item d-flex align-items-center">
                <div class="flex-1 text-break">
                <div>Eve ID</div>
                <div class="text-white text-opacity-50">{{personnage.eveId}}</div>
              </div>
              </div>

              <div class="list-group-item d-flex align-items-center">
                <div class="flex-1 text-break">
                <div>Corporation</div>
                <div class="text-white text-opacity-50">{{personnage.corporation.name}} - {{personnage.corporation_id}}</div>
              </div>
              </div>

              {% if personnage.alliance_id !=None or personnage.alliance_id != ""%}
                <div class="list-group-item d-flex align-items-center">
                  <div class="flex-1 text-break">
                    <div>Alliance</div>
                    <div class="text-white text-opacity-50">{{personnage.alliance.name}} - {{personnage.alliance_id}}</div>
                  </div>
                </div>
              {% endif %}
              
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- arrow -->
    <div class="card-arrow">
      <div class="card-arrow-top-left"></div>
      <div class="card-arrow-top-right"></div>
      <div class="card-arrow-bottom-left"></div>
      <div class="card-arrow-bottom-right"></div>
    </div>
  </div>  
{% endblock content %}